In [48]:
import pandas
import json
import datetime

In [51]:
# consider the current date to be 2019-01-01

active_date = datetime.date(2019, 1, 1)

In [87]:
legislators_df = pandas.read_json('/home/gabby/Git/personal/interviews/find-my-rep-gabby/data/legislators.json')

legislators_df['bio'][0]

{'birthday': '1952-11-09', 'gender': 'M', 'religion': 'Lutheran'}

In [95]:
legislators_df['terms'][0][-1]

{'type': 'sen',
 'start': '2013-01-03',
 'end': '2019-01-03',
 'state': 'OH',
 'party': 'Democrat',
 'class': 1,
 'url': 'https://www.brown.senate.gov',
 'address': '713 Hart Senate Office Building Washington DC 20510',
 'phone': '202-224-2315',
 'fax': '202-228-6321',
 'contact_form': 'http://www.brown.senate.gov/contact/',
 'office': '713 Hart Senate Office Building',
 'state_rank': 'senior',
 'rss_url': 'http://www.brown.senate.gov/rss/feeds/?type=all&amp;'}

In [134]:
with open('/home/gabby/Git/personal/interviews/find-my-rep-gabby/data/legislators.json') as f:
    data = json.loads(f.read())
    
df = pandas.json_normalize(data, "terms", ['id', ['name', 'official_full'], 'bio'])
df.head()

df = df.set_index(['state', 'district'])

In [135]:
df

               type       start         end       party  \
state district
OH    13.0      rep  1993-01-05  1995-01-03    Democrat
      13.0      rep  1995-01-04  1997-01-03    Democrat
      13.0      rep  1997-01-07  1999-01-03    Democrat
      13.0      rep  1999-01-06  2001-01-03    Democrat
      13.0      rep  2001-01-03  2003-01-03    Democrat
...             ...         ...         ...         ...
VA    5.0       rep  2017-01-03  2019-01-03  Republican
WA    7.0       rep  2017-01-03  2019-01-03    Democrat
WI    8.0       rep  2017-01-03  2019-01-03  Republican
WY    0.0       rep  2017-01-03  2019-01-03  Republican
AL    NaN       sen  2017-02-09  2021-01-03  Republican

                                         url  class  \
state district
OH    13.0                               NaN    NaN
      13.0                               NaN    NaN
      13.0                               NaN    NaN
      13.0                               NaN    NaN
      13.0                               NaN    NaN
...                                      ...    ...
VA    5.0       https://tomgarrett.house.gov    NaN
WA    7.0          https://jayapal.house.gov    NaN
WI    8.0        https://gallagher.house.gov    NaN
WY    0.0           https://cheney.house.gov    NaN
AL    NaN                                NaN    2.0

                                                          address  \
state district
OH    13.0                                                    NaN
      13.0                                                    NaN
      13.0                                                    NaN
      13.0                                                    NaN
      13.0                                                    NaN
...                                                           ...
VA    5.0                415 Cannon HOB; Washington DC 20515-4605
WA    7.0                319 Cannon HOB; Washington DC 20515-4707
WI    8.0            1007 Longworth HOB; Washington DC 20515-4908
WY    0.0                416 Cannon HOB; Washington DC 20515-5000
AL    NaN       G-12 Dirksen Senate Office Building Washington...

                       phone  fax contact_form  \
state district
OH    13.0               NaN  NaN          NaN
      13.0               NaN  NaN          NaN
      13.0               NaN  NaN          NaN
      13.0               NaN  NaN          NaN
      13.0               NaN  NaN          NaN
...                      ...  ...          ...
VA    5.0       202-225-4711  NaN          NaN
WA    7.0       202-225-3106  NaN          NaN
WI    8.0       202-225-5665  NaN          NaN
WY    0.0       202-225-2311  NaN          NaN
AL    NaN       202-224-4124  NaN          NaN

                                              office state_rank rss_url  \
state district
OH    13.0                                       NaN        NaN     NaN
      13.0                                       NaN        NaN     NaN
      13.0                                       NaN        NaN     NaN
      13.0                                       NaN        NaN     NaN
      13.0                                       NaN        NaN     NaN
...                                              ...        ...     ...
VA    5.0           415 Cannon House Office Building        NaN     NaN
WA    7.0           319 Cannon House Office Building        NaN     NaN
WI    8.0       1007 Longworth House Office Building        NaN     NaN
WY    0.0           416 Cannon House Office Building        NaN     NaN
AL    NaN        G-12 Dirksen Senate Office Building     junior     NaN

               caucus party_affiliations  \
state district
OH    13.0        NaN                NaN
      13.0        NaN                NaN
      13.0        NaN                NaN
      13.0        NaN                NaN
      13.0        NaN                NaN
...               ...                ...
VA    5.0         NaN                NaN
WA    7.0         NaN                NaN
WI    8.0         NaN                NaN
WY    0.0         NaN                NaN
AL    NaN         NaN                NaN

                                                               id  \
state district
OH    13.0      {'bioguide': 'B000944', 'thomas': '00136', 'li...
      13.0      {'bioguide': 'B000944', 'thomas': '00136', 'li...
      13.0      {'bioguide': 'B000944', 'thomas': '00136', 'li...
      13.0      {'bioguide': 'B000944', 'thomas': '00136', 'li...
      13.0      {'bioguide': 'B000944', 'thomas': '00136', 'li...
...                                                           ...
VA    5.0       {'bioguide': 'G000580', 'govtrack': 412729, 'w...
WA    7.0       {'bioguide': 'J000298', 'govtrack': 412730, 'w...
WI    8.0       {'bioguide': 'G000579', 'govtrack': 412731, 'w...
WY    0.0       {'bioguide': 'C001109', 'govtrack': 412732, 'w...
AL    NaN       {'bioguide': 'S001202', 'govtrack': 412734, 'l...

                    name.official_full  \
state district
OH    13.0               Sherrod Brown
      13.0               Sherrod Brown
      13.0               Sherrod Brown
      13.0               Sherrod Brown
      13.0               Sherrod Brown
...                                ...
VA    5.0       Thomas A. Garrett, Jr.
WA    7.0              Pramila Jayapal
WI    8.0               Mike Gallagher
WY    0.0                   Liz Cheney
AL    NaN               Luther Strange

                                                              bio
state district
OH    13.0      {'birthday': '1952-11-09', 'gender': 'M', 'rel...
      13.0      {'birthday': '1952-11-09', 'gender': 'M', 'rel...
      13.0      {'birthday': '1952-11-09', 'gender': 'M', 'rel...
      13.0      {'birthday': '1952-11-09', 'gender': 'M', 'rel...
      13.0      {'birthday': '1952-11-09', 'gender': 'M', 'rel...
...                                                           ...
VA    5.0               {'gender': 'M', 'birthday': '1972-03-27'}
WA    7.0               {'gender': 'F', 'birthday': '1965-09-21'}
WI    8.0               {'gender': 'M', 'birthday': '1984-03-03'}
WY    0.0               {'gender': 'F', 'birthday': '1966-07-28'}
AL    NaN               {'birthday': '1953-03-01', 'gender': 'M'}

[2993 rows x 18 columns]

In [ ]:
# Get last term (might want to sort by date to be confident) - add all as columns
# Especially will want state and district for the current term.

In [121]:
zipcode_df = pandas.read_json('/home/gabby/Git/personal/interviews/find-my-rep-gabby/data/zipcode-districts.json')
zipcode_df.head()

   state_fips state_abbr   zcta  cd
0           1         AL  30165   3
1           1         AL  31905   3
2           1         AL  35004   3
3           1         AL  35005   6
4           1         AL  35005   7

In [122]:
zipcode_df.shape

(39287, 4)

In [126]:
# Set zip codes as the index for easy lookup
zipcode_df = zipcode_df.set_index('zcta')
zipcode_df

       state_fips state_abbr  cd
zcta
30165           1         AL   3
31905           1         AL   3
35004           1         AL   3
35005           1         AL   6
35005           1         AL   7
...           ...        ...  ..
831            78         VI   0
840            78         VI   0
841            78         VI   0
850            78         VI   0
851            78         VI   0

[39287 rows x 3 columns]

In [130]:
zipcode_df.loc[97206]

       state_fips state_abbr  cd
zcta
97206          41         OR   3
97206          41         OR   5

In [131]:
zipcode_df.loc[12525]

state_fips    36
state_abbr    NY
cd            19
Name: 12525, dtype: object

In [ ]:
# TODO: Verify the meaning of 'state_fips' and 'cd' - is 'cd' the district number?

In [141]:
# TODO: Handle zipcodes that return multiple districts.
zip_data = zipcode_df.loc[12525]
state = zip_data['state_abbr']
district = zip_data['cd']
state, district

('NY', 19)

In [145]:
rep_data = df.loc[state, district]
rep_data

/tmp/ipykernel_101963/849091797.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  rep_data = df.loc[state, district]

               type       start         end       party  \
state district
NY    19.0      rep  1989-01-03  1991-01-03    Democrat
      19.0      rep  1991-01-03  1993-01-03    Democrat
      19.0      rep  2017-01-03  2019-01-03  Republican

                                   url  class  \
state district
NY    19.0                         NaN    NaN
      19.0                         NaN    NaN
      19.0      https://faso.house.gov    NaN

                                                     address         phone  \
state district
NY    19.0                                               NaN           NaN
      19.0                                               NaN           NaN
      19.0      1616 Longworth HOB; Washington DC 20515-3219  202-225-5614

                fax contact_form                                office  \
state district
NY    19.0      NaN          NaN                                   NaN
      19.0      NaN          NaN                                   NaN
      19.0      NaN          NaN  1616 Longworth House Office Building

               state_rank rss_url caucus party_affiliations  \
state district
NY    19.0            NaN     NaN    NaN                NaN
      19.0            NaN     NaN    NaN                NaN
      19.0            NaN     NaN    NaN                NaN

                                                               id  \
state district
NY    19.0      {'bioguide': 'E000179', 'thomas': '00344', 'go...
      19.0      {'bioguide': 'E000179', 'thomas': '00344', 'go...
      19.0      {'bioguide': 'F000464', 'govtrack': 412719, 'w...

               name.official_full  \
state district
NY    19.0         Eliot L. Engel
      19.0         Eliot L. Engel
      19.0           John J. Faso

                                                              bio
state district
NY    19.0      {'birthday': '1947-02-18', 'gender': 'M', 'rel...
      19.0      {'birthday': '1947-02-18', 'gender': 'M', 'rel...
      19.0              {'gender': 'M', 'birthday': '1952-08-25'}